@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --gold: #9c7945;
  --black: #000000;
  --light-color: #252525;
  --box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  color: rgb(230, 230, 206);
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
  scroll-padding-top: 5.5rem;
}

section {
  padding: 2rem;
  background: #b7ada2;
  height: 720px;
}
section:nth-child(even) {
  background: var(--light-color);
}

.heading {
  text-align: center;
  color: var(--gold);
  margin-bottom: 3rem;
  font-size: 4rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: beige;
  background: var(--gold);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn.hover {
  background: var(--black);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--black);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
}

header .logo {
  color: #9c7945;
  font-size: 2.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

header .logo i {
  color: #9c7945;
}

header .logo a {
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #9c7945;
  text-decoration: none;
}

header.navbar a {
  color: #9c7945;
  font-size: 2rem;
}
header .navbar a.active,
header .navbar a:hover {
  color: #9c7945;
}
header .icons i,
header .icons a {
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #9c7945;
  border-radius: 50%;
  /* height: 4.5rem; */
  line-height: 4.5rem;
  width: auto;
  text-align: center;
}
header .icons i:hover header .icons a:hover {
  color: var(--gold);
  background: #181818;
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

.search-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

#search-input {
  width: 300px;
  padding: 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-btn {
  padding: 10px 20px;
  font-size: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #9c7945;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  font-size: small;
  background-color: #3d3939;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  left: -120px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 15px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.editor {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px;
  z-index: 1;
  text-align: center;
  color: var(--gold);
  font-size: 4rem;
  font-weight: bolder;
  overflow-x: hidden;
}

#anime-list {
  margin: 50px;
  position: relative;
  display: flex;
  top: 70px;
  overflow-x: hidden;
}

.anime-list-container {
  display: flex;
  flex-wrap: nowrap; /* Ensure items don't wrap to the next line */
  overflow-x: hidden; /* Enable horizontal scrolling */
  padding: 3rem;
  margin: 0 -3rem;
}

#anime-list div {
  flex: 0 0 auto; /* Allow items to shrink and grow as needed */
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background: rgb(156, 121, 69);
  background: linear-gradient(
    351deg,
    rgba(156, 121, 69, 1) 0%,
    rgba(117, 91, 52, 1) 22%
  );
  text-align: center;
  position: relative;
  top: 0;
  border: 0;
  font-size: x-large;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease; /* Added transition for transform property */
  overflow: hidden;
}

#anime-list div:hover {
  transform: scale(1.1); /* Scale the div on hover */
  overflow: hidden;
}

#anime-list div h2 {
  font-size: 1.5rem;
  color: beige;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}

#anime-list div p {
  font-size: 1.2rem;
  color: beige;
  text-decoration: none;
}

#anime-list div span {
  font-size: 2rem;
}

#anime-list div img {
  width: 250px;
  height: 250px;
}
#icon-container {
  position: absolute;
  bottom: 1px; /* Adjust bottom spacing as needed */
  left: 5px;
  height: 5px;
  width: 5px;
  border: none; /* Adjust left spacing as needed */
}

.synopsis-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9c7945;
  padding: 20px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border-radius: 20px;
}
.read-more-btn {
  background-color: transparent;
  cursor: pointer;
  border-radius: 20px;
  border: #9c7945;
  position: relative;
  display: flex;
  top: 10px;
  left: 90px;
}
#scroll-left-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bolder;
  position: relative;
  display: flex;
  bottom: 250px;
  border-radius: 50%;
}
#scroll-right-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bolder;
  position: relative;
  display: flex;
  bottom: 300px;
  left: 1280px;
  border-radius: 50%;
}

#scroll-left-btn:hover,
#scroll-right-btn:hover {
  background-color: #9c7945;
}

#scroll-left-btn i,
#scroll-right-btn i {
  font-size: 40px;
}

.Manga {
  position: absolute;
  top: 740px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px;
  z-index: 1;
  text-align: center;
  color: var(--gold);
  font-size: 4rem;
  font-weight: bolder;
  overflow-x: hidden;
  text-transform: uppercase;
}
#manga-list {
  margin: 50px;
  position: relative;
  display: flex;
  overflow-x: hidden; /* Allow horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar for a cleaner look */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}
#manga-list .star-container {
  position: relative;
  display: contents;
}

#manga-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.manga-list-container {
  display: flex;
  gap: 10px; /* Spacing between manga items */
  padding: 3rem;
  margin: 0;
}

#manga-list div {
  flex: 0 0 auto; /* Allow items to shrink and grow as needed */
  width: 300px;
  margin: 10px;
  padding: 20px;
  background: rgb(156, 121, 69);
  background: linear-gradient(
    351deg,
    rgba(156, 121, 69, 1) 0%,
    rgba(117, 91, 52, 1) 22%
  );
  text-align: center;
  position: relative;
  top: 0;
  border: 0;
  font-size: x-large;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease; /* Added transition for transform property */
  overflow: hidden;
}

#manga-list div:hover {
  transform: translateY(-10px); /* Move the div up on hover */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3); /* Add a more pronounced shadow */
}
#manga-list div img {
  width: 250px;
  height: 350px;
}

#manga-list div h2 {
  font-size: 1.3rem;
  color: beige;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}
.read-now-btn {
  text-transform: uppercase;
  background: rgb(97, 69, 27);
  color: beige;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  position: relative;
  display: flex;
  top: 7px;
  width: 100%;
  font-size: x-large;
}

#left-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bolder;
  position: relative;
  display: flex;
  bottom: 400px;
  border-radius: 50%;
}
#right-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bolder;
  position: relative;
  display: flex;
  bottom: 460px;
  left: 1280px;
  border-radius: 50%;
}

#left-btn:hover,
#right-btn:hover {
  background-color: #9c7945;
}

#left-btn i,
#right-btn i {
  font-size: 40px;
}

.Category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.Category li {
  background-color: #9c7945;
  padding: 20px;
  border-radius: 5px;
  font-size: medium;
  transition: 0.3s;
  &:hover {
    background-color: #805e36;
  }
  font-weight: bolder;
}

.Category li a {
  text-decoration: none;  
  color: #333;
}

footer {
  width: 100%;
  position: relative;
  display: flex;
  bottom: 0;
  background: #181818;
  color: #f1f1f1;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
}
footer img {
  width: 80px;
  /* height: auto; */
  margin-bottom: 30px;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
}
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
.fa.fa-arrow-right {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: #f1f1f1;
  border: 0;
  outline: none;
}
form i {
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 3rem;
  color: #9c7945;
  border-radius: 50%;
  line-height: 4.5rem;
  width: auto;
  text-align: center;
}
form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fa.fa-search {
  font-size: 18px;
  color: #ccc;
}
.social-icons {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.social-icons i {
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 3rem;
  color: #9c7945;
  border-radius: 50%;
  line-height: 4.5rem;
  width: auto;
  text-align: center;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
}
.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 4s linear infinite;
}

#action hr {
  position: absolute;
  left: 81px;
  bottom: 10px;
  width: 90%;
}
hr + p {
  position: absolute;
  bottom: 5px;
  right: 570px;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

/* media query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: var(--black);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: var(--gold);
  }
}
@media (max-width: 468px) {
  html {
    font-size: 50%;
  }
}
