@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --gold:#9c7945;
    --black:#000000;
    --light-color:#181818;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,0.1);
}
* {
    font-family:  "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s  ease-in-out;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color: #9c7945;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-decoration: none;
}
header .logo img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header .logo i{
    color: #9c7945;
}

header .logo a{
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #9c7945;
    text-decoration: none;
}

header.navbar a {
    color: #9c7945;
    font-size: 2rem;
  }
header .navbar a.active,
header .navbar a:hover{
     color: #9c7945;
}


header .icons i,
header .icons a{
    cursor: pointer;
    margin-right: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #9c7945;
    border-radius: 50%;
    background: var(--gold);
}
header .icons i:hover
header .icons a:hover{
    color: var(--gold);
    background: #181818;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

.home{
    padding:0;
 }

 .home .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: center;
    justify-content: flex-end;
    padding: 2rem 9%;
 }

















/* media query */
@media(max-width: 991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
}

@media(max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--black);
        border-top: .1rem solid rgba(0,0,0,0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--gold);
    }
}
@media(max-width:468px){
    html{
        font-size: 50%;
    }
}